[Unit]
Description=Site Transfer Software Daemon
After=syslog.target network.target
RequiresMountsFor=/data/logs

[Service]
Type=simple
User=dsmgr
Group=data
RestartSec=5
ExecStart=/apps/transfer/bin/sts -loop -conf /apps/transfer/conf/sts.yaml -iport 2991
WatchdogSec=600s
Restart=on-failure

[Install]
WantedBy=multi-user.target
