src/receiver/receiver
src/sender/sender
src/receiver/watch_directory/*
src/sender/watch_directory/*
!src/sender/watch_directory/test_file.txt
src/sender/file_cache.dat
src/receiver/listener_cache.dat
src/util/test_files/test_cache.dat
src/util/test_files/test_cache.dat.tmp
src/gopkg.in
pkg