#!/bin/bash
#
# /etc/init.d/stsd
#
# stsd    Site Transfer Software Daemon
#
# Brent Kolasinski
# Argonne National Laboratory
# brent@anl.gov
#
# chkconfig: 345 70 30
# description: stsd is the Site Transfer Software daemon
# processname: stsd

# Source function library
. /etc/init.d/functions

# Variables needed for startup
RETVAL=0
BIN='sts'
BINDIR="/apps/transfer/bin"
LOCKFILE="/var/lock/subsys/$BIN"
CONFIG="/apps/transfer/conf/sts.yaml"
FLAGS=""

start() {
    echo -n "Starting STS: "

    if [ -e $LOCKFILE ]
      then
        echo -n "STS already running! Exiting...\n"
        return 1
    fi

    $BINDIR/$BIN $FLAGS -conf $CONFIG 2>&1 /dev/null
    $RETVAL=$?
    touch $LOCKFILE
    return $RETVAL
}

stop() {
    echo -n "Shutting down STS: "
    pkill $BIN
    $RETVAL=$?
    rm -f $LOCKFILE
    return $RETVAL
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
#    status)
#        ;;
    restart)
        stop
        start
        ;;
#    reload)
#        ;;
    *)
        echo "Usage: stsd {start|stop|restart}"
        exit 1
        ;;
esac
exit $?
