#!/bin/bash
#
# /etc/init.d/stsd
#
# stsd    Site Transfer Software Daemon
#
# Brent Kolasinski
# Argonne National Laboratory
# brent@anl.gov
#
# chkconfig: 345 70 30
# description: stsd is the Site Transfer Software daemon
# processname: stsd

# Source function library
. /etc/init.d/functions

# Variables needed for startup
RETVAL=0
BIN='sts'
BINDIR="/apps/transfer/bin"
LOCKFILE="/var/lock/subsys/$BIN"
CONFIG="/apps/transfer/conf/sts.yaml"
FLAGS="-loop -debug"

start() {
    echo -n "Starting STS: "

    if [ -e $LOCKFILE ]
      then
        OLDPID=$(cat $LOCKFILE)
        echo -n -e "\e[31mSTS already running as \e[33mPID $OLDPID\e[31m! \e[39mExiting...\n"
        return 1
    fi

    $BINDIR/$BIN $FLAGS -conf $CONFIG > /dev/null 2>&1 &
    RETVAL=$?

    # Non succesful start
    if [ $RETVAL != 0 ]
      then
        echo -e "... \e[31mSTS failed to start. \e[39mReturn: $RETVAL"
        return $RETVAL
    fi

    # Successful start
    touch $LOCKFILE
    PID=$(pgrep -n -x sts)
    echo $PID > $LOCKFILE
    echo -e "... \e[32mdone\e[39m"
    return $RETVAL
}

stop() {
    echo -n "Shutting down STS: "
    if [ -e $LOCKFILE ]
      then
        rm -f $LOCKFILE
        pkill $BIN > /dev/null 2>&1 &
        RETVAL=$?

        echo -e "... \e[32mdone\e[39m"
        return $RETVAL
    fi

    echo "STS is not running!"
    return 0
}

status() {
    # Currently running
    if [ -e $LOCKFILE ]
      then
        PID=$(cat $LOCKFILE)
        echo -e "STS is currently running as \e[33mPID $PID\e[39m."
        return 0
    fi

    # Not running
    echo "STS is not currently running."

}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    status)
        status
        ;;
    restart)
        stop
        start
        ;;
#    reload)
#        ;;
    *)
        echo "Usage: stsd {start|stop|restart|status}"
        exit 1
        ;;
esac
exit $?
